.timer-container .timer-header {
  font-weight: bold;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 1.0rem;
	font-weight: 500;
}

.timer-container .timer-value {
  font-weight: bold;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 2.0rem;
	font-weight: 600;
}

.pulsate {
  -webkit-animation: pulsate 3s ease-out;
  animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite; 
  animation-iteration-count: infinite; 
  opacity: 0.5;
}
@-webkit-keyframes pulsate {
  0% { 
      opacity: 0.5;
  }
  50% { 
      opacity: 1.0;
  }
  100% { 
      opacity: 0.5;
  }
}
@-moz-keyframes pulsate {
  0% { 
    opacity: 0.5;
  }
  50% { 
      opacity: 1.0;
  }
  100% { 
      opacity: 0.5;
  }
}
@keyframes pulsate {
  0% { 
    opacity: 0.5;
  }
  50% { 
      opacity: 1.0;
  }
  100% { 
      opacity: 0.5;
  }
}
